html {
  font-family: "Open Sans", sans-serif;
  color: #f3eded;
}

/* 16px @ 480px increasing to 32px @ 1680px */
@media (min-width: 480px) {
  :root {
    font-size: calc(1rem + ((1vw - 4.8px) * 1.3333));
  }
}

@media (min-width: 1680px) {
  :root {
    font-size: 32px;
  }
}

@keyframes animated-background {
  0% {
    background-position: center center;
  }
  25% {
    background-position: center left;
  }
  50% {
    background-position: center center;
  }
  75% {
    background-position: center right;
  }
  100% {
    background-position: center center;
  }
}

.html--splash {
  height: 100%;
  background: url(background.jpg),
    linear-gradient(#6189d6, #7ba7e8, #f6b182, #34527a, #05172f);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: animated-background 240s linear infinite;
}

.body--splash {
  display: flex;
  align-items: stretch;
  margin: 0;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.splash-text {
  text-shadow: 0 0 2vw rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splash-text--sky {
  height: 43%;
}

.splash-text--lake {
  height: 35%;
}

.splash-text__above,
.splash-text__below {
  margin: 0;
}

@media (max-height: 300px) {
  .splash-text__above {
    display: none;
  }
}

.splash-text__headline {
  font-family: "Dancing Script", cursive;
  font-size: calc((15vw + 15vh * 0.43) / 2);
  margin: 0;
}

.splash-text__headline--secondary {
  font-size: calc((10vw + 10vh * 0.43) / 2);
}

a.splash-text {
  color: #f3eded;
  text-decoration: none;
}

a.splash-text:hover {
  text-shadow: 0 0 2vw rgba(250, 250, 250, 0.8);
}
